# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
*.venv

# Secrets / Instance Folders (if used)
instance/
*.env
.env.*
*.secret

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/